# @ocean-network-express:registry=https://asia-npm.pkg.dev/one-global-designsystem-common/npm-beta/
# //asia-npm.pkg.dev/one-global-designsystem-common/npm-beta/:always-auth=true
# //asia-npm.pkg.dev/one-global-designsystem-common/npm-beta/:_authToken=""